<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>ad-hoc</string>
	<key>teamID</key>
	<string>YE754YUBD2</string>
    <key>compileBitcode</key>
    <true/>
	<key>signingStyle</key>
	<string>manual</string>
	<key>signingCertificate</key>
	<string>Apple Distribution: Shagun Madhikarmi</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.madhikarma.ModularizedDemoApp</key>
		<string>ModularizedDemoApp Ad Hoc Distribution Profile</string>
	</dict>
</dict>
</plist>